body{
    background-color: rgb(240, 71, 164);
    text-align: ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(143, 145, 141);
}

.nav{
    background-color: rgb(238, 194, 218);
    padding: 10px;
    text-align: center;
}
.nav ul{
    list-style: none;
    margin: auto;
    padding: auto;
}
.nav li{
    display: inline-block;
}
.nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin: 0 10px;
}

.footer{
    background-color: rgb(238, 194, 218);
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
     color:rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(143, 145, 141);
    margin-top: auto;
}