body{
    background-color: rgb(240, 71, 164);
    text-align: ;
    color:rgb(121, 240, 151);
    text-shadow: 2px 2px 4px rgb(143, 145, 141);
}

.nav{
    background-color: rgb(238, 194, 218);
    padding: 10px;
    text-align: center;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav li{
    display: inline-block;
}
.nav a{
    color: rgb(252, 228, 241);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin: 0 10px;
}