body{
    background-color: rgb(240, 71, 164);
    text-align: ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(143, 145, 141);
}

.nav{
    background-color: rgb(253, 119, 193);
    padding: 10px;
    text-align: center;
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav li{
    display: inline-block;
}
.nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin: 0 10px;
}

.footer{
    background-color: rgb(253, 119, 193);
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
     color:rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(143, 145, 141);
    margin-top: auto;
}

.section1 {
    background-color: rgb(119, 204, 253);
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
        
     color:rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(143, 145, 141);
} 